/* The image box */
.image-box {
  position: relative;
  height: 425px;
}

/* Place text on the image */
.image-box-text {
  max-width: 650px;
  position: absolute;
  text-align: center;
  top: 20%;
}
@media (min-width: 768px) {
  .image-box-text {
    margin-left: 8.6%;
    max-width: 450px;
    position: absolute;
    text-align: left;
    top: 45%;
  }
}

// darken on rollover
.image-box:hover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 142, 215, 0.6);
  transition: 0.5s ease;
}

// images and info
// ----------------
// https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-US
// http://unsplash.it/1200x800
// ----------------
// https://www.google.com/intl/en/about/
// https://www.w3schools.com/css/css3_backgrounds.asp
